.passwordsDisplay {
  .passwordsShow {
    .p-inputgroup {
      .p-disabled {
        opacity: 1;
        border: 1px solid black;
        border-right: none;
      }
      .p-button-warning {
        border: 1px solid black;
        border-left: none;
      }
    }
  }
}
