.passwordsDisplay {
  .passwordsShow {
    .p-inputgroup {
      .p-disabled {
        opacity: 1;
        border: 1px solid black;
        border-right: none;
      }
      .p-button-warning {
        border: 1px solid black;
        border-left: none;
      } 
    }
    .p-paginator-pages {
      @media only screen and (max-width: 576px) {
        display: none;
      }
    }
    .p-paginator-first, .p-paginator-last {
      @media only screen and (max-width: 375px) {
        display: none;
      }
    }
  }
}
